<div id="about">
  <div class="about-section">
    <h2 class="about-title"><span class="top-border">About</span></h2>
  </div>
  <div id="slide-about">
    <div id="fade_about">
      <div class="about1">
        <p class="about1-p">
          パソコンやスマホでサクッと新しい趣味探し
        </p>
      </div>
      <div class="about2">
        <p class="about2-p">
          多種多様な趣味がここにあります！
          リンク：サークル一覧
        </p>
      </div>
      <div class="about3">
        <p class="about3-p">
          サークルメンバー募集中！！
          <%= link_to "サークルを楽しむ", new_user_registration_path %>
        </p>
      </div>
      <div class="about4">
        <p class="about4-p">
          サークルリーダー大募集中！！<br>自分の大好きな趣味を共有しましょう！
          <%= link_to "サークルリーダーになる", new_leader_registration_path %>
        </p>
      </div>
    </div>
  </div>
</div>