<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <h2 class="top-border">イベント一覧</h2>
  </div>
  <div class="row no-gutters">
    <div class="col-9">
      <% @circles.each do |circle| %>
        <div class="row row_zoom">
          <%= render 'common/circle_index', circle: circle %>
        </div>
      <% end %>
      <div class="row  justify-content-center">
        <%= paginate @circles %>
      </div>
    </div>
    <div class="col-3">
      <ul class="list_tag">
        <% @category_list.each do |list| %>
          <li>
            <%= link_to list.category_name, circles_path(category_id: list.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>