<!--top-->
<div class="top">
  <div class="main">
    <p id="main_p">人生にほんの少しの<br>スパイスを・・・</p>
  </div>
</div>
<!--about-->
<%= render 'users/circles/about' %>
<!--lineup-->
<div id="lineup">
  <div class="lineup-section">
    <h2 class="lineup-title"><span class="top-border">Line up</span></h2>
    <div class="row justify-content-around lineup-row">
      <% @circles.each do |circle| %>
        <%= render 'common/circle_top', circle: circle %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center pb-5">
    <p class="p-3">
      この他にもたくさんサークルイベントがあります！<br>
      <%= link_to circles_path, class:"my-3 mx-auto top_button" do %>
        <span>イベントをもっと見る <i class="far fa-hand-point-right"></i></span>
      <% end %>
    </p>
  </div>
</div>
<!--以下js専用-->
<script>
  'use strict'
  const main_p = document.querySelector('#main_p');
  main_p.animate([{opacity: '0'}, {opacity: '1'}], 2000);
</script>
