<div class="top">
  <div class="main">
    <p id="main_p">人生にほんの少しの<br>スパイスを・・・</p>
  </div>
</div>
<!--about-->
<div id="about">
  about
</div>
<!--以下js専用-->
<script>
  'use strict'
  const main_p = document.querySelector('#main_p');
  main_p.animate([{opacity: '0'}, {opacity: '1'}], 2000);
</script>