<div class="card  text-center mx-3" style="width: 18rem;">
  <%= attachment_image_tag circle, :image, size: "200x200", class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title border-bottom"><%= circle.circle_title %></h5>
    <p class="card-text"><%= circle.circle_about %></p>
  </div>
  <div  class="card-body">
    <%= link_to "詳細を見る",circle_path(circle.id),  class:"btn btn-radius-solid btn--shadow" %>
  </div>
</div>