<div class="container">
  <div class="row justify-content-center">
    <h1 class="pt-5 taikai_kakunin">退　会　確　認</h1>
  </div>
  <div class="row justify-content-center p-5">
    <p class="text-center">
      退会すると、会員情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
    </p>
  </div>

  <div class="row justify-content-center p-5">
    <div class="col-sm-3 col-sm-offset-2">
      <%= link_to "　退会しない　",leaders_leader_path(current_leader.id) ,class:"btn btn-primary" %>
    </div>
    <div class="col-xs-3 col-sm-offset-2">
      <%= link_to "退会する",withdraw_leaders_leader_path, method: :patch, class: "btn btn-danger" %>
    </div>
  </div>
</div>